.app-aside {
  height: 100vh;
  padding: 10px;
  text-align: center;
}

.aside-cats-list {
  height: 100%;
  padding: 10px 0;
  color: white;
  background-color: lightslategrey;
  border-radius: 5px 20px 20px 5px;
}

.aside-cats-list-card {
  position: relative;
}

.aside-cats-list-card:hover .custom-close {
  display: block;
}
