* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.cats-list img {
  height: 150px;
}

.cat-details button {
  border: none;
  background-color: white;
  text-decoration: underline;
}

.cat-details button:hover {
  font-weight: bold;
}
