.app-cats-list {
  height: 100%;
  margin-top: 20px;
}

.custom-close {
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 1;
  display: none;
  width: 22px;
  height: 22px;
  border: 3px solid #ff7f7f;
  border-radius: 10px;
}

.custom-close::after,
.custom-close::before {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background: #ff7f7f;
  transform: rotate(45deg);
  content: "";
}

.custom-close::after {
  transform: rotate(-45deg);
}

.cats-list-card:hover .custom-close {
  display: block;
}

.cats-list-card-img {
  height: 200px;
}

/* cat details */
.app-cat-details {
  height: 100%;
  margin-top: 20px;
}

.cat-details-img {
  margin-bottom: 20px;
}
