.app-header {
  display: flex;
  flex-direction: column;
}

.app-header-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background-color: #282c34;
  border-radius: 5px 5px 0 0;
}

.app-header-nav {
  padding: 10px;
  color: white;
  text-align: center;
  background-color: lightslategrey;
  border-radius: 0 0 5px 5px;
}

.app-header-buttons {
  display: flex;
}

.app-header nav > a {
  margin-right: 20px;
  color: white;
  font-size: 20px;
}

.app-header nav > a:hover {
  margin-right: 20px;
  color: black;
}
