.cat-search-overlay {
  padding: 8%;
}

.cat-search-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

.cat-search-form {
  height: 100%;
  padding: 10px;
}

.cat-search-form-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.cat-search-form-select {
  display: inline-block;
  width: 50%;
  color: lightslategray;
}

.cat-search-form-submit {
  padding: 0 15px;
}

.cat-search-form-results {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 50px);
}

.cat-search-form-results img {
  max-width: 150px;
  max-height: 150px;
  margin: 4px;
  cursor: pointer;
}

.cat-search-error {
  color: black;
}
